@use 'variables' as vars;
@use "sass:color";

body {
  &.dark-theme {
    background-color: vars.$bg-very-dark-blue;
    color: vars.$white;

    h1,
    h2,
    h3,
    h4 {
      color: vars.$white;
    }

    .header {
      background: vars.$dark-blue;

      .theme-toggle {
        color: vars.$white;
      }
    }

    .filters {
      .search-icon {
        color: vars.$white;
      }

      .search-input {
        color: vars.$white;
        background-color: vars.$dark-blue;

        &::placeholder {
          color: vars.$white;
        }
      }

      .dropdown-header,
      .dropdown-body {
        background: vars.$dark-blue;
      }

      .dropdown-body {
        li {
          &:hover {
            background-color: color.adjust(vars.$dark-blue, $lightness: 5%);
          }
        }
      }
    }

    .countries-grid {
      .country {
        color: vars.$white;
        background: vars.$dark-blue;

        span {
          color: vars.$white;
        }
      }
    }

    .loader {
      background-color: vars.$bg-very-dark-blue;

      .spinner .icon {
        color: vars.$white;
      }
    }

    .scroll-top {
      background-color: vars.$dark-blue;
    }

    .notifi-wrapper {
      color: vars.$white;
    }

    .btn {
      background-color: vars.$dark-blue;
      color: vars.$white;
      box-shadow: vars.$box-shadow-alt;
    }

    .country-info {
      li {
        color: vars.$dark-gray;
      }
      strong {
        color: vars.$white;
      }
    }
  }
}
